html,
body {
    padding: 20px;
    height: 100%;
}

* {
    font-family: 'Cartograph CF';

}

.app-container {
    width: 1200px;
    margin-top: 20px;
    margin: 0px auto;
}

.posts-input-container{
    margin-top: 20px;
    width: 75%;
}

.post-input-container{
    margin-bottom: 20px;
}

.post-input-button{
    float: right;
}

.post-goto{
    float: left;

}
.post-goto{
    text-decoration: none;
}